@import "_variables.css";
@import "_global.css";

.nav {
    margin: 10px;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.li {
    list-style: none;
    border: solid 1px transparent;
}

.li:not(:last-child){
    margin-right: 6px;
}

.popup-item{
    padding: 6px;
    opacity: 0.7;
}

.popup-item:hover {
    opacity: 1;
}

li:focus, input:focus + label {
    outline: none;
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0 0 14px var(--accent-color);
    border-radius: 6px;
}

/*a:focus {*/
    /*outline: none;*/
    /*opacity: 1;*/
    /*background-color: var(--accent-color);*/
    /*color: var(--white-color);*/
    /*box-shadow: 0 0 14px var(--accent-color);*/
    /*border-radius: 6px*/
/*}*/

.social__item:focus {
    outline: none;
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0 0 14px var(--accent-color);
    border-radius: 6px
}

.popup-item:focus{
    outline: none;
    opacity: 1;
    border: solid 1px var(--accent-color);
    box-shadow: 0 0 14px var(--accent-color);
    border-radius: 6px
}



img {
    max-width: 100%;
}



.bell, .user{
    width: 20px;
    height: 20px;
}


.item__link:focus, input:focus + label {
    outline: none;
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0 0 14px var(--accent-color);
    border-radius: 6px;
}

.social__item:not(.menu) {
    display: block;
    border: solid 1px transparent;
    padding: 8px;
 }

li:hover {
    /*background-color: green;*/
    cursor: pointer;
    border: solid 1px #08f7fe;
    border-radius: 6px;
    box-shadow: 0 0 10px #08f7fe;
}

.nav{
    color: white;
    float: right;
    display: flex;
    /*background-color: azure;*/
    align-items: center;
}



#popup {
    position: absolute;
    z-index: -1;
    opacity: 0;
    /*display: none;*/
}

.popup-btn{
    padding: 8px;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(".././img/popup-button.png") no-repeat center;
}


.menu{
    position: relative;
}

.popup-menu {
    /*display: flex;*/
    display: none;
    flex-wrap: wrap;
    position: absolute;
    right: -280%;
    margin-top: 20px;
    align-self: flex-end;
    width: 250px;
    height: 300px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px #08f7fe;
    overflow-y: scroll;
    z-index: 1;
}

.popup-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4px;
    height: 80px;
    width: 24%;
    border: solid 1px transparent;
}

.popup-item > img {
    width: 50px;
}

.popup-item > p {
    font-size: 14px;
    margin-top:10px;
}


input[type="checkbox"]:checked ~ .popup-menu {
    display: flex;
}
